<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/edit-profile.css">
    <title>Edit profile form</title>
</head>
<body>
    
    <section class="container">
        <form  class="edit-profile-form" id = "editProfileForm">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>

            <label for="email">Email</label>
            <input type="text" name="email" id="email" required>

            <label for="password">Password</label>
            <input type="text" name="password" id="password" required>

            <label for="confirmPassword">Confirm password</label>
            <input type="text" name="confirmPassword" id="confirmPassword" required>
        </form>
        <button id="editProfileButton">Edit Profile</button>
    </section>


    <script type="module" src="/static/js/edit-profile.js"></script>
    
</body>
</html>