<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/login.css">
    <title>Registration form</title>
</head>
<body>
    <section class="container">
        <form  class="login-form" id="loginForm">
            <label for="username">Email</label>
            <input type="text" name="username" id="email">

            <label for="password">Password</label>
            <input type="text" name="password" id="password" required>
        </form>
        <button id="loginButton">Login</button>
    </section>

    <script type="module" src="/static/js/login.js"></script>

</body>
</html>